{% extends "base.html" %}

{% block title %}
    <title>My Tasks</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if user_tasks|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in user_tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
