{% extends "base.html" %}

{% block title %}
    <title>Detail view</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if detail|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in detail %}
                            <tr>
                                <td>{{ assignment.name }}</td>
                                <td>{{ assignment.assignee }}</td>
                                <td>{{ assignment.start_date }}</td>
                                <td>{{ assignment.due_date }}</td>
                                <td>{{ assignment.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
